<%- contentFor('HeaderCss') %>
<!-- roundslider css -->
<link rel="stylesheet" href="public/assets/libs/round-slider/roundslider.min.css">





<%- contentFor('breadcrumb') %>

<!-- start page title -->
<!-- <div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Dashboard</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">RasperryShake</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>

        </div>
    </div>
</div> -->
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-xl-12" >
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="border-radius: 10px;">
                    <div class="card-body">
                        <div class="table-responsive ">
                            <table class="table table-striped align-middle">
        
                                <h6 class="mb-2" style="font-famiLy: roboto;">Station Details</h6>
                                <tbody>


                                    <tr>
                                        
                                            <h2 class="mb-0" style="  color:#2E7EFF;">RCFC3</h2>
                                            </td>
                                            </tr>

                                    <tr>
                                        <td style="text-align: center;">
                                            <h6  style="  color: rgba(105, 111, 121, 0.6);">Shake/Pi</h6></td>
                                            <td>:</td>
                                            <td>
                                            <h6 class="mb-0" style="color:#2E7EFF;">RS1D 3 Model B</h6>
                                            </td>
                                            </tr>
                            
                                            <tr>
                                                <td style="text-align: center;">
                                                    <h6 style="color: rgba(105, 111, 121, 0.6);">Local IP</h6></td>
                                                    <td>:</td>
                                                    <td>
                                                    <h6 class="mb-0" style="color:#2E7EFF;">192.168.1.33</h6>
                                                    </td>
                                                    </tr>

                                                    <tr>
                                                        <td style="text-align: center">
                                                            <h6  style="color: rgba(105, 111, 121, 0.6);">Latitude</h6></td>
                                                            <td>:</td>
                                                            <td>
                                                            <h6 class="mb-0" style="color:#2E7EFF; ">8.7390</h6>
                                                            </td>
                                                            </tr>

                                                            <tr>
                                                                <td style="text-align: center;">
                                                                    <h6 style="color: rgba(105, 111, 121, 0.6); ">Longitude</h6></td>
                                                                    <td>:</td>
                                                                    <td>
                                                                    <h6  style="color:#2E7EFF; ">-82.9468</h6>
                                                                    </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td style="text-align: center;">
                                                                            <h6  style="color: rgba(105, 111, 121, 0.6);">Elevation</h6></td>
                                                                            <td>:</td>
                                                                            <td>
                                                                            <h6  style="color:#2E7EFF; ">1059 m</h6>
                                                                            </td>
                                                                            </tr>
                                    
                                </tbody>
                            </table>
                            <div class="card-body py-3">
                                <div class="text-truncate">
                                    <span class="badge badge-soft-success  font-size-15"><i class="mdi mdi-menu-up"> </i> 0 Days 4 Hours 11 Minutes </span>
                                    <span class="text-muted ms-2 font-size-15">Uptime</span>
                                </div>
                            </div>
                        </div>
                       
                    </div>

                   

                    
                </div>



                
                
              <!-- Station on local net-start -->


              <div class="card" style="border-radius: 10px;">
                <div class="card-body">
                    <div class="dropdown float-end">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Refresh</a>
                         
                        </div>
                    </div>
    
                    <h6 class=" mb-4" style="   font-famiLy: roboto;">Stations on Local Network</h6>
    
                    <div class="table-responsive">
                        <table class="table table-responsive datatable dt-responsive nowrap" data-bs-page-length="5" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead class="table-light">
                                <tr>
                                    
                               
                                    <th>Id</th>
                                    <th>Ip</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                   
                                    
                                   
                                    <td>
                                        AM.<span class="text-primary">RCFC3</span>.00.EHZ
                                    </td>
                                    <td>192.168.1.15</td>
                                    
                                
                                    <td>
                                        <div class="badge badge-soft-success font-size-12">Online</div>
                                    </td>
                                    <td id="tooltip-container1">
                                        <a href="javascript:void(0);" class="me-3 text-primary" data-bs-container="#tooltip-container1" data-bs-toggle="tooltip" data-bs-placement="top" title="Config"><i class="mdi mdi-cog font-size-18"></i></a>
                
                                    </td>
                                </tr>
                                <tr>
                                   
                                    
                                  
                                    <td>
                                        AM.<span class="text-primary">RCFC4</span>.00.EHZ
                                    </td>
                                    <td>192.168.1.58</td>
                                    
                                    
                                    <td>
                                        <div class="badge badge-soft-danger font-size-12">Offline</div>
                                    </td>
                                    <td id="tooltip-container2">
                                        <a href="javascript:void(0);" class="me-3 text-primary" data-bs-container="#tooltip-container2" data-bs-toggle="tooltip" data-bs-placement="top" title="Config"><i class="mdi mdi-cog font-size-18"></i></a>
                                        </td>
                                </tr>
    
                                <tr>
                                   
                                    
                             
                                    <td>
                                        AM.<span class="text-primary">RCFC5</span>.00.EHZ 
                                    </td>
                                    <td>192.168.1.30</td>
                                    
                                    
                                    <td>
                                        <div class="badge badge-soft-success font-size-12">Online</div>
                                    </td>
                                    <td id="tooltip-container3">
                                        <a href="javascript:void(0);" class="me-3 text-primary" data-bs-container="#tooltip-container3" data-bs-toggle="tooltip" data-bs-placement="top" title="Config"><i class="mdi mdi-cog font-size-18"></i></a>
                                        </td>
                                </tr>
                                <tr>
                                   
                                    
                                  
                                    <td>
                                        AM.<span class="text-primary">RCFC6</span>.00.EHZ 
                                    </td>
                                    <td>192.168.1.29</td>
                                    
                                   
                                    <td>
                                        <div class="badge badge-soft-success font-size-12">Online</div>
                                    </td>
                                    <td id="tooltip-container41">
                                        <a href="javascript:void(0);" class="me-3 text-primary" data-bs-container="#tooltip-container41" data-bs-toggle="tooltip" data-bs-placement="top" title="Config"><i class="mdi mdi-cog font-size-18"></i></a>
                                   </td>
                                </tr>
                                <tr>
                                   
                                    
                                
                                    <td>
                                        AM.<span class="text-primary">RCFC7</span>.00.EHZ 
                                    </td>
                                    <td>192.168.1.20</td>
                                    
                                  
                                    <td>
                                        <div class="badge badge-soft-danger font-size-12">Offline</div>
                                    </td>
                                    <td id="tooltip-container4">
                                        <a href="javascript:void(0);" class="me-3 text-primary" data-bs-container="#tooltip-container4" data-bs-toggle="tooltip" data-bs-placement="top" title="Config"><i class="mdi mdi-cog font-size-18"></i></a>
                                   </td>
                                </tr>
                             
                                
                                
                                
                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- System Status section -->

                   
              

            <!-- system status section end -->

                
            </div>
           
            <div class="col-md-4">


                <div class="alert alert-info alert-dismissible fade show" role="alert" style="border-radius:10px;" >
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <h6 class="text-truncate mb-2" style=" font-family: roboto; color:#00172A ;">Continue Securing your Account!</h6>
                   
                    <p> Please change your ssl password and increase account security.</p>
                   

                    <button style="background:#0065de;" type="button" class="btn btn-primary btn-sm waves-effect waves-light">Change SSL Password</button>
                </div>


                

                      <!-- Beauty card here -->
                      <!-- 
                    <div class="card-body border-top py-3">
                        <div class="text-truncate">
                            <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> text here </span>
                            <span class="text-muted ms-2">From previous </span>
                        </div> -->



                        <div class="card" style="border-radius:10px">
                            <div class="card-body">
                
                                <h6 class="mb-3" style="font-famiLy: roboto;">Activity Preview</h6>
                                        
                             
                                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                                <div class="table-responsive">
                                    <div id="graph" style=" height: 300px; width: auto;  "></div>

                                    <script>

                                var arrayLength = 100
                                var newArray = []

                                for(var i = 0; i < arrayLength; i++) {
                                var y = Math.round(Math.random()*5) + 1
                                newArray[i] = y
                                }

                                Plotly.plot('graph', [{
                                y: newArray,
                                mode: 'lines',
                                line: {color: '#CD1A47'}
                                
                                }]);

                                var cnt = 1;

                                var interval = setInterval(function() {
                                
                                var y = Math.round(Math.random()*5) + 1
                                newArray = newArray.concat(y)
                                newArray.splice(0, 1)
                                
                                var data_update = {
                                    y: [newArray]
                                };
                                
                                Plotly.update('graph', data_update)
                                
                                if(cnt === 100) clearInterval(interval);
                                }, 300); 

                      
                                    </script>
                                </div>
                                

                             

                                <p class="mb-0" style="margin-top:10px ;">Use the ShakeNet web or mobile apps to visualize and analyze your data in detail.</p>
                                
                            </div>
        
                            <div style="margin-left: 20px; margin-bottom: 20px;">
                                <button style=" background:#0065de;" type="button" class="btn btn-primary btn-sm waves-effect waves-light">ShakeNet Web</button>
                              
                                <button style=" background:#0065de;" type="button" class="btn btn-primary btn-sm waves-effect waves-light">Web App</button>
        
        </div>
                        </div>

                        <div class="card" style="border-radius:10px ;">
                            <div class="card-body">
                
                                <h4 class="card-title mb-4" style="font-famiLy: roboto; font-size:20px;">System Status</h4>
    
                                <div class="row">
                                    <div class="col-xl-6 col-sm-4">
                                        <div class="text-center mt-4">
                                            <h5 class="font-size-14 mb-4">Disk Usage</h5>
                
                                            <div dir="ltr">
                                                <div id="square-roundslider" class="rs-range-success"></div>
                                            </div>
                                           <div class="text-muted mb-0" style="margin-top:15px ;">38 / 423 MB </div>
    
                                        </div>
                                    </div>
                                    
                                    <!-- <div class="col-xl-4 col-sm-6">
                                        <div class="text-center mt-4">
                                            <h5 class="font-size-14 mb-4">Temperature</h5>
                
                                            <div dir="ltr">
                                                <div id="handleshape-dot" class="rs-range-info"></div>
                                            </div>
    
                                            <div class="text-muted mb-0" style="margin-top:15px ;">26 °C  / 65 °F </div>
                                        </div>
                                    </div> -->
    
                                    <div class="col-xl-4 col-sm-6">
                                        <div class="text-center mt-4">
                                            <h5 class="font-size-14 mb-4">CPU Activity</h5>
                
                                            <div dir="ltr">
                                                <div id="border-roundslider" class="rs-range-danger rs-circle-border"></div>
                                            </div>
                                            <div class="text-muted mb-0" style="margin-top:15px ;">50.5% </div>
                                        </div>
                                    </div>
                                    
                
                                    
                                  
                                </div>
                            </div>
                        </div>
                  

                        <!-- activity preview end -->




                    </div> 


<div class="col-md-4">
                <div class="card" style="border-radius:10px; padding: 10px;">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-1 overflow-hidden">
                                <h6 class="card-title  mb-2" style="color:#0065de">Software tools</h6>
                                <p class="mb-0">Download useful software for your shake!</p>
                            </div>
                            <div class="text-primary ms-auto">
                              
                            </div>
                        </div>
                    </div>

                    <div class="row" style="justify-content: center;">
                    
                    
                
                <div class="col-lg-5">
                    
                    <div class="card shad" style="border-radius:12px; border: 2px solid rgb(232, 228, 228)">
                        <div class="card-header bg-transparent">
                            <h1 class=" text-primary" style="text-align: center;"><i class="mdi mdi-database-arrow-down"></i></h1>
                            <h5 class="card-title mt-0" style="text-align:center ;">Data</h5>
                            <p style="color:#0065de; text-align: center;">
                                <a href="ftp://rs.local/">Download</a> </p>
                        </div>
                        
                    </div>

                    <div class="card shad" style="border-radius:12px;border: 2px solid rgb(232, 228, 228)">
                        <div class="card-header bg-transparent ">
                            <h1 class=" text-primary" style="text-align: center;"><i class="mdi mdi-folder-download-outline"></i></h1>
                            <h5 class="card-title mt-0" style="text-align:center ;">Logs</h5>
                            <p style="color:#0065de; text-align: center;">
                                <a href="http://rs.local/api/logs">Download</a> </p>
                        </div>
                        
                    </div>
    
                            
                        </div>
                    
                        <div class="col-lg-5">

                            <div class="card shad" style="border-radius:12px; border: 2px solid rgb(232, 228, 228)"
                                title="With Swarm: enjoy, explore, discover and understand earthquakes in a simple way">
                                <div class="card-header bg-transparent ">
                                    <h1 class=" text-primary" style="text-align: center;"><i class="mdi mdi-graphql"></i></h1>
                                    <h5 class="card-title mt-0" style="text-align:center ;">Swarm</h5>
                                    <p style="color:#0065de; text-align: center;">
                                        <a href="http://rs.local/download/SWARM.zip">Download</a>
                                    </p>
                                </div>
                            
                            </div>
                            
                            <div class="card shad" style="border-radius:12px; border: 2px solid rgb(232, 228, 228)"
                                title=" View 12 hours of data at a time, updates every 2 minutes">
                                <div class="card-header bg-transparent ">
                                    <h1 class=" text-primary" style="text-align: center;"><i class="mdi mdi-cosine-wave"></i></h1>
                                    <h5 class="card-title mt-0" style="text-align:center ;">Helicorder</h5>
                                    <p style="color:#0065de; text-align: center;">
                                        <a href="http://rs.local/heli">Download</a>
                                    </p>
                                </div>
                            
                            </div>
    
                    
                        </div>
                        
    
    
    
                    </div>
               
                    
                    
                </div>
                   

                
                   
                
                     




                      
                      
                        <!-- Beauty card here -->
                      <!-- 
                    <div class="card-body border-top py-3">
                        <div class="text-truncate">
                            <span class="badge badge-soft-success font-size-11"><i class="mdi mdi-menu-up"> </i> text here </span>
                            <span class="text-muted ms-2">From previous </span>
                        </div> -->

                        <div class="card" style="border-radius:10px; padding: 10px;">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div class="flex-1 overflow-hidden">
                                     
                                        <h6 class="card-title  mb-2" style="color:#0065de">Online Apps</h6>
                                        <p class="mb-0">Use powerfull tools online</p>

                                    </div>
                                    <div class="text-primary ms-auto">
                                      
                                    </div>
                                </div>
                            </div>
        
                           
                          <!-- Nested row for local apps- END -->
                            
                          <div class="row" style="justify-content: center;">
                    
                    
                
                            <div class="col-lg-5">
                                
                                <div class="card shad" style="border-radius:12px; border: 2px solid rgb(232, 228, 228)"  
                                title="Global map with the latest earthquake activities">
                                    <div class="card-header bg-transparent">
                                        <h1 class=" text-primary" style="text-align: center;"><i class="mdi mdi-database-arrow-down"></i></h1>
                                        <h5 class="card-title mt-0" style="text-align:center ;">Station View</h5>
                                        <p style="color:#0065de; text-align: center;">
                                         <a href="https://stationview.raspberryshake.org/">Open</a> </p>
                                    </div>
                                  
                                </div>
        
                                <div class="card shad" style="border-radius:12px;border: 2px solid rgb(232, 228, 228)" 
                                title="View data for all stations, all channels, over all time!">
                                    <div class="card-header bg-transparent ">
                                        <h1 class=" text-primary" style="text-align: center;"><i class="mdi mdi-folder-download-outline"></i></h1>
                                        <h5 class="card-title mt-0" style="text-align:center ;">Data View</h5>
                                        <p style="color:#0065de; text-align: center;">
                                         <a href="https://dataview.raspberryshake.org/">Open</a> </p>
                                    </div>
                                  
                                </div>
        
                                
                            </div>
                        
                            <div class="col-lg-5">
    
                                <div class="card shad" style="border-radius:12px; border: 2px solid rgb(232, 228, 228)" 
                                title="P-wave and S-wave picker to locate epicenters of earthquakes">
                                    <div class="card-header bg-transparent ">
                                        <h1 class=" text-primary" style="text-align: center;"><i class="mdi mdi-graphql"></i></h1>
                                        <h5 class="card-title mt-0" style="text-align:center ;">Eq Locator</h5>
                                        <p style="color:#0065de; text-align: center;">
                                         <a href="https://locator.raspberryshake.org/">Open</a> </p>
                                    </div>
                                  
                                </div>
        
                                <div class="card shad" style="border-radius:12px; border: 2px solid rgb(232, 228, 228)" 
                                title="Create and download audio files of the latest earthquakes">
                                    <div class="card-header bg-transparent ">
                                        <h1 class=" text-primary" style="text-align: center;"><i class="mdi mdi-cosine-wave"></i></h1>
                                        <h5 class="card-title mt-0" style="text-align:center ;">Eq Sound</h5>
                                        <p style="color:#0065de; text-align: center;">
                                         <a href="https://sound.raspberryshake.org/">Open</a> </p>
                                    </div>
                                  
                                </div>
        
        
                        
                            </div>
                            
        
        
        
                        </div>
                            
                        </div>
                        <!-- <div class="row">
                            <div class="col-lg-6">
                                <div class="card" style="border-radius:12px;">
                                    <div class="card-header bg-transparent ">
                                        <h1 class="my-0 text-primary" style="text-align: center; font-size: 50px;"><i class="mdi mdi-database-arrow-down me-3"></i></h3>
                                        
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title mt-0" style="text-align:center ;">Station View</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk.</p>
                                        <p class="card-title" href="#" style="color:#0065de; text-align: center;">Open</p>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-lg-6">
                                <div class="card" style="border-radius:12px;">
                                    <div class="card-header bg-transparent ">
                                        <h1 class="my-0 text-primary" style="text-align: center; font-size: 50px;"><i class="mdi mdi-graphql me-3"></i></h3>
                                        
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title mt-0" style="text-align:center ;">Data View</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk.</p>
                                        <p class="card-title" href="#" style="color:#0065de; text-align: center;">Open</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card" style="border-radius:12px;">
                                    <div class="card-header bg-transparent ">
                                        <h1 class="my-0 text-primary" style="text-align: center; font-size: 50px;"><i class="mdi mdi-folder-download-outline me-3"></i></h3>
                                        
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title mt-0" style="text-align:center ;">Eq Locator</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk.</p>
                                        <p class="card-title" href="#" style="color:#0065de; text-align: center;">Open</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card" style="border-radius:12px;">
                                    <div class="card-header bg-transparent ">
                                        <h1 class="my-0 text-primary" style="text-align: center; font-size: 50px;"><i class="mdi mdi-folder-download-outline me-3"></i></h3>
                                        
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title mt-0" style="text-align:center ;">Eq Sound</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk.</p>
                                        <p class="card-title" href="#" style="color:#0065de; text-align: center;">Open</p>
                                    </div>
                                </div>
                            </div>
        
        
        
                        </div> -->
                    </div> 


                </div>

                
            </div>
        </div>
        <!-- end row -->


     <!-- end row-Container Stations -->

        <!-- New row here-start -->

        <div class="row">
           
            <div class="col-lg-4">

                <!-- add some content here -->

            </div>

            <div class="col-xl-4">

           <!-- add some content here -->

            </div>



            <div class="col-lg-4">

                <!-- add some content here -->

            </div>


        </div>


<!-- Final del row-->


<!-- Seccion aqui-->

    </div>

    <!-- Seccion aqui-->
</div>
<!-- end row -->


<!-- end row -->


<!-- end row-->

<%- contentFor('FooterJs') %>

 <!-- apexcharts -->
 <script src="public/assets/libs/apexcharts/apexcharts.min.js"></script>

 <!-- jquery.vectormap map -->
 <script src="public/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
 <script src="public/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script>

 <!-- Required datatable js -->
 <script src="public/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
 <script src="public/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
 
 <!-- Responsive examples -->
 <script src="public/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
 <script src="public/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

 <script src="public/assets/js/pages/dashboard.init.js"></script>

 <!-- roundslider js -->
<script src="public/assets/libs/round-slider/roundslider.min.js"></script>

<!-- roundslider init -->
<script src="public/assets/js/pages/roundslider.init.js"></script>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>




<%- contentFor('BottomJs') %>