                <%- contentFor('HeaderCss') %>

                    <!-- Plugin css -->
                    <link href="public/assets/libs/@fullcalendar/core/main.min.css" rel="stylesheet" type="text/css" />
                    <link href="public/assets/libs/@fullcalendar/daygrid/main.min.css" rel="stylesheet" type="text/css" />
                    <link href="public/assets/libs/@fullcalendar/bootstrap/main.min.css" rel="stylesheet" type="text/css" />
                    <link href="public/assets/libs/@fullcalendar/timegrid/main.min.css" rel="stylesheet" type="text/css" />

                    <%- contentFor('breadcrumb') %>

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0">Apps</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">RaspberryShake</a></li>
                                            <li class="breadcrumb-item active">Apps</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <%- contentFor('body') %>

                              
                                <div class="row">

                                    <h5>Online Apps</h5>


    <div class="col-lg-4">
        <div class="card">
            <img class="card-img-top img-fluid" src="public/assets/images/small/stview.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title mt-0">Station View</h4>
                <p class="card-text">Global map with the latest earthquake activities, all stations online and live trace view!</p>
                <p class="card-text">
                    <a href="https://stationview.raspberryshake.org/" class="card-text"><small>Find your Shake on Station View!</small></a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card">
            <img class="card-img-bottom img-fluid" src="public/assets/images/small/dataview.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title mt-0">Data View</h4>
                <p class="card-text">App to view data for all stations, all channels,
                     over all time; including frequency domain analysis.</p>
                <p class="card-text">
                    <a href="https://dataview.raspberryshake.org/" class="card-text"><small>Go to Data View!</small></a>
                </p>
            </div>
           
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card">
            <img class="card-img-top img-fluid" src="public/assets/images/small/eqlocator.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title mt-0">EQ locator</h4>
                <p class="card-text">P-wave and S-wave picker to locate epicenters of earthquakes!.</p>
                <p class="card-text">
                    <a href="https://locator.raspberryshake.org/" class="card-text"><small>Go to EQ Locator</small></a>
                </p>
            </div>
        </div>
    </div>
    
    
    <div class="col-lg-4">
        <div class="card">
            <img class="card-img-top img-fluid" src="public/assets/images/small/eqsound.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title mt-0">EQ Sound</h4>
                <p class="card-text">Create and download audio files of the latest earthquakes!</p>
                <p class="card-text">
                    <a href="https://sound.raspberryshake.org/" class="card-text"><small>Go to EQ Sound</small></a>
                </p>
            </div>
        </div>
    </div>

      
    <div class="col-lg-4">
        <div class="card">
            <img class="card-img-top img-fluid" src="public/assets/images/small/store.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title mt-0">Mobile App</h4>
                <p class="card-text">Get the powerful and personalized earthquake monitoring app that connects directly to Raspberry Shake seismographs around the world. </p>
                <p class="card-text">
                 
                </p>
            </div>
        </div>
    </div>


                                    
                                </div>
                        

                            <div style='clear:both'></div>





                            <%- contentFor('FooterJs') %>

                                <!-- plugin js -->
                                <script src="public/assets/libs/moment/min/moment.min.js"></script>
                                <script src="public/assets/libs/jquery-ui-dist/jquery-ui.min.js"></script>
                                <script src="public/assets/libs/@fullcalendar/core/main.min.js"></script>
                                <script src="public/assets/libs/@fullcalendar/bootstrap/main.min.js"></script>
                                <script src="public/assets/libs/@fullcalendar/daygrid/main.min.js"></script>
                                <script src="public/assets/libs/@fullcalendar/timegrid/main.min.js"></script>
                                <script src="public/assets/libs/@fullcalendar/interaction/main.min.js"></script>

                                <!-- Calendar init -->
                                <script src="public/assets/js/pages/calendar.init.js"></script>

                                <%- contentFor('BottomJs') %>