<%- contentFor('HeaderCss') %>

<!-- ION Slider -->
<link href="public/assets/libs/ion-rangeslider/css/ion.rangeSlider.min.css" rel="stylesheet" type="text/css"/>

<link href="public/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css">
<link href="public/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="public/assets/libs/spectrum-colorpicker2/spectrum.min.css" rel="stylesheet" type="text/css">
<link href="public/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
<link href="public/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

<%- contentFor('breadcrumb') %>

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Settings</h4>

           

        </div>
    </div>
</div>

<%- contentFor('body') %>

<div class="col-xl-12">
    <div class="card">
        <div class="card-body">

      

            <div class="row">
                <div class="col-md-2">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link mb-2 active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">General</a>
                    <a class="nav-link mb-2" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Data</a>
                    <a class="nav-link mb-2" id="v-pills-messages-tab" data-bs-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Network</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Data Casting</a>
                    <a class="nav-link" id="v-pills-security-tab" data-bs-toggle="pill" href="#v-pills-security" role="tab" aria-controls="v-pills-security" aria-selected="false">Security</a>    
                
                
                </div>
                </div>

                <div class="col-md-10">
                    <div class="tab-content text-muted mt-4 mt-md-0" id="v-pills-tabContent">
                        <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            
                            
                            <div class="col-md-5">
                                <H5>Configure your location and profile</H5>
                                <p>
                                    Food truck fixie locavore, accusamus mcsweeney's marfa nulla
                                    single-origin coffee squid. Exercitation +1 labore velit, blog
                                    sartorial PBR leggings next level wes anderson artisan four loko
                                    farm-to-table craft beer twee. Qui photo booth letterpress,
                                    commodo enim craft beer mlkshk.
                                </p>
                                <h6 class="mt-3"> How will your use your Shake?</h6>
                                <select class="form-control select2">
                                    <option>Select</option>
                                
                                        <option value="AK">Hobbie</option>
                                        <option value="AK">Aftershock Studies</option>
                                        <option value="HI">Campaign seismic survey</option>
                                        <option value="CA">Education</option>
                                        <option value="NV">Glaciers</option>
                                        <option value="OR">Microseismic studies</option>
                                        <option value="CA">Monitoring induced seismicity</option>
                                        <option value="NV">Research</option>
                                        <option value="OR">Seismic observatory</option>
                                        <option value="CA">Structural monitoring</option>
                                        <option value="NV">Volcano monitoring</option>
                                        <option value="OR">Other</option>
                    
                                
                                </select>

                                <h6 class="mt-3">Full Name</h6>
                    <input type="text" maxlength="30" name="thresholdconfig" class="form-control" id="thresholdconfig" kl_vkbd_parsed="true">
            
                                <h6 class="mt-3">Email Address</h6>
                                <input type="text" maxlength="30" name="thresholdconfig" class="form-control" id="thresholdconfig" kl_vkbd_parsed="true">
                


                    <button style="font-family: roboto; margin-top: 15px; background:#0065de;" type="button" class="btn btn-primary waves-effect waves-light" id="sa-warning">Save</button>
                            </div>
                            
                            

                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <p>
                                Food truck fixie locavore, accusamus mcsweeney's marfa nulla
                                single-origin coffee squid. Exercitation +1 labore velit, blog
                                sartorial PBR leggings next level wes anderson artisan four loko
                                farm-to-table craft beer twee. Qui photo booth letterpress,
                                commodo enim craft beer mlkshk.
                            </p>
                            <p class="mb-0"> Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna 8-bit</p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <p>
                                Etsy mixtape wayfarers, ethical wes anderson tofu before they
                                sold out mcsweeney's organic lomo retro fanny pack lo-fi
                                farm-to-table readymade. Messenger bag gentrify pitchfork
                                tattooed craft beer, iphone skateboard locavore carles etsy
                                salvia banksy hoodie helvetica. DIY synth PBR banksy irony.
                                Leggings gentrify squid 8-bit cred.
                            </p>
                            <p class="mb-0">DIY synth PBR banksy irony.
                                    Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh
                                    mi whatever gluten-free.</p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <p>
                                Trust fund seitan letterpress, keytar raw denim keffiyeh etsy
                                art party before they sold out master cleanse gluten-free squid
                                scenester freegan cosby sweater. Fanny pack portland seitan DIY,
                                art party locavore wolf cliche high life echo park Austin. Cred
                                vinyl keffiyeh DIY salvia PBR, banh mi before they sold out
                                farm-to-table.
                            </p>
                            <p class="mb-0">Fanny pack portland seitan DIY,
                                art party locavore wolf cliche high life echo park Austin. Cred
                                vinyl keffiyeh DIY salvia PBR, banh mi before they sold out
                                farm-to-table.
                            </p>
                        </div>


                        <div class="tab-pane fade" id="v-pills-security" role="tabpanel" aria-labelledby="v-pills-security-tab">
                            <p>
                              :D fund seitan letterpress, keytar raw denim keffiyeh etsy
                                art party before they sold out master cleanse gluten-free squid
                                scenester freegan cosby sweater. Fanny pack portland seitan DIY,
                                art party locavore wolf cliche high life echo park Austin. Cred
                                vinyl keffiyeh DIY salvia PBR, banh mi before they sold out
                                farm-to-table.
                            </p>
                            <p class="mb-0">Fanny pack portland seitan DIY,
                                art party locavore wolf cliche high life echo park Austin. Cred
                                vinyl keffiyeh DIY salvia PBR, banh mi before they sold out
                                farm-to-table.
                            </p>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
    <!-- end card -->
</div>

<%- contentFor('FooterJs') %>

<script src="public/assets/libs/select2/js/select2.min.js"></script>
<script src="public/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="public/assets/libs/spectrum-colorpicker2/spectrum.min.js"></script>
<script src="public/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="public/assets/libs/admin-resources/bootstrap-filestyle/bootstrap-filestyle.min.js"></script>
<script src="public/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>

<script src="public/assets/js/pages/form-advanced.init.js"></script>



<!-- Ion Range Slider-->
<script src="public/assets/libs/ion-rangeslider/js/ion.rangeSlider.min.js"></script>

<!-- init js -->
<script src="public/assets/js/pages/product-filter-range.init.js"></script>

<!-- Sweet Alerts js -->
<script src="public/assets/libs/sweetalert2/sweetalert2.min.js"></script>

<!-- Sweet alert init js-->
<script src="public/assets/js/pages/sweet-alerts.init.js"></script>

<%- contentFor('BottomJs') %>